/*---------------------LLAMADO A LAS FUENTES ICOMOON-------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fswiss');
  src:  url('../fonts/icomoon.eot?fswiss#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fswiss') format('truetype'),
    url('../fonts/icomoon.woff?fswiss') format('woff'),
    url('../fonts/icomoon.svg?fswiss#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-close:before {
  content: "\ea0d";
}

/*---------------------DISEÑO DEL WEBSITE----------------------*/
body{ /*Se selecciona todo el contenido dentro de la etiqueta "body"*/
  font-family: 'Allerta', sans-serif;/*Se le designa una fuente al texto llamada "Alerta" traida de google fonts*/
  margin: 0;
}
.contenedor{
  max-width: 800px;
  margin: auto;
  position: relative;
}
table{
  width: 100%;
}
th{
  background: #273b47;
  color: white;
  padding: 10px 20px;
  text-align: left;
}
td{
  padding: 20px;
}
table, td, th{
  border: 1px solid #273b47;
  border-collapse: collapse;
}
input, textarea{
  outline: 0;
}
input:focus, textarea:focus{
  background: lightgray;
}
.background{
  background-color: #1F313C;
  background-image: url('Images/background.png');/*Se selecciona la imagen de fondo para la clase portada*/
  background-size: cover;
}
.button{
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background: #FF6A50;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  font-size: 18px;
  background: linear-gradient(to left, #FF3B4E, #FF674F);
  text-decoration: none;
}
.titulo{ /*Se selecciona el o los elementos que tengan clase "titulo"*/
  font-size: 70px;/*Se le da un tamaó a la letra de 70 pixeles*/
  font-family: 'Montserrat', sans-serif;;/*Se le designa la fuente "Montserrat" traida de google fonts */
  margin-bottom: 0;
  margin-top: 70px;
}
.titulo span{
  text-decoration: underline;
}
.title-a{/*Se selecciona el o los elementos que tengan la clase "title-a"*/
  font-size: 24px;/*Se le da un tamaño de 24 pixeles*/
  margin-top: 0;
}
.title-b{/*Se selecciona el o los elementos que tengan la clase "title-b"*/
  font-size: 50px;/*Se le da un tamaño de 24 pixeles*/
  margin-bottom: 20px;
}
.guitarras{/*Se selecciona la calse "guitarras"*/
  color: #1F313C; /*Se le da un color a la letra, en este caso gris oscuro*/
  margin-bottom: 60px
}
.guitarras h2{/*Se seleccionan los elementos con etiquetas h2 dentro de la calse "guitarras"*/
  font-size: 35px;/*Se le da un tamaño de letra de 35 pixeles*/
  font-family: 'Montserrat', sans-serif;/*Se selecciona "Montserrat" como la fuente de escritura de esta etiqueta dentro de la clase*/
}
.guitarra.b{
  margin-bottom: 60px;
}
.guitarra.b img{
  bottom: 40px;
  right: 40px;
}
.video {
  position: relative;
  padding-top: 56.25%;
}
.video-src {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portada{/*Se seleccionan los elementos de clase "portada"*/
  color: white;/*Se le da color a la letra, para este caso blanco*/
  padding: 10px;
  height: 500px;
}
.portada button{
  margin-bottom: 70px;
}
.menu{/*Se seleccionan los elementos de clase "menu"*/
  font-size: 24px;/*Se le da tamaño a la letra de 24 pixeles*/
  display: inline-block;/*Con el display "inline-block" lo que se hace es que los elementos dentro de la etiqueta menu (etiquetas <ul>), se colocan una al lado de la otra*/
  position: absolute;
  right: 0;
}
.menu a{
  color: white;
  text-decoration: none;
}
.menu li{/*Se seleccionan las etiquetas "li" dentro de la clase menu*/
  display: inline-block; /*funciona para poner los "li" uno al lado del otro*/
  margin-left: 30px;
}
.menu li:before{
  content: '·';
  /*font-size: 50px;
  line-height: 20px;*/
  color: white;
}
.logotipo {/*Se selecciona la calse logotipo*/
  display: inline-block;/*Se pone el display en "inline-block" para que se puedan situar elementos al lado del logotipo*/
  margin-left: 0;
}
.guitarra{
  padding: 10px;
  margin: 10px 10px 30px 10px;
  /*overflow: hidden;*/
  border: 1px solid #1F313C;
  border-radius: 8px;
}
.guitarra ol{
  padding: 0;
}
.guitarra.b{
  height: 190px;
}
.right{
  float: right;
  position: relative;
  top: -127px;
}
.left{
  float: left;
  position: relative;
}
.contenedor-guitarra-a{
  padding-left: 20px;
}
.contenedor-guitarra-b{
  margin-left: : 370px;
  position: relative;
  bottom: 90px;
}
.header{
  position: relative;
}
.footer{
  background: #1F313C;
  padding: 50px 50px 10px 10px;
  margin-top: 65px;

}
.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}
.contacto img{
  display: block;
}
.contacto strong{
  display: block;
}
.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}
.footer .contenedor{
  display: flex;
  justify-content: space-between;
}
.formulario{
  display: flex;
  width: 400px;
  color: white;
}
.col1, .col2{
  display: flex;
  flex-direction: column;
}
.col1{
  margin-right: 15px;
}
.col2{
  align-items: flex-start;
}
.intereses label{
  font-size: 12px;
}
.formulario label, .sexo, .intereses{
  margin-bottom: 10px;
  margin-top: 10px;
}
.sexo{
  margin-top: 10px;
}
.tabla{
  margin: 50px 10px;
}
.burger-button {
  background: #395667;
  display: none;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
  color: white;
  border: 1px solid white;
  top: 13px;
}
.video-demo-contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.video-demo {
  max-width: 500px;
  width: 100%;
  border: 5px solid #1F313C;
}

/*------------------MEDIA QUERY PARA PANTALLAS DE 800px-----------------------*/

@media screen and (max-width: 800px) {
  /*------PORTADA------*/
  .titulo {
    font-size: 50px;
    margin-top: 30px;
  }
  .title-a {
    font-size: 18px;
  }
  .portada {
    height: auto;
  }
  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }

  /*------GUITARRAS------*/
  .video-demo-contenedor {
    margin-bottom: 30px;
  }
  .guitarras {
    text-align: center;
  }
  .left, .right {
    float: none;
    position: static;
  }
  .title-b {
    margin: 0;
  }
  .guitarra li{
    list-style: none;
  }
  .guitarra.b {
    height: auto;
  }
  .contenedor-guitarra-a{
    padding: 0;
  }
  .contenedor-guitarra-b{
    margin: 0;
    position: static;
  }

  /*-------PRECIOS------*/

  .tabla .contenedor {
    overflow: auto;
    border: 1px solid #1F313C;
  }
}
/*--------------------MEDIA QUERY PARA PANTALLAS DE 767px---------------------*/

@media screen and (max-width: 767px) {
  /*------FOOTER------*/
  .footer .contenedor{
    display: block;
  }
  .contacto {
    margin: 0 auto;
  }
  .formulario {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  .intereses label {
    display: block;
    font-size: 15px;
  }
  .col1 {
    margin: 0;
  }
  input[type="text"],input[type="email"] {
    font-size: 15px;
    padding: 5px;
  }
  textarea {
    width: 100%;
  }
  input[type="radio"], input[type="checkbox"] {
    zoom: 1.5;
  }
}
/*--------------------MEDIA QUERY PARA PANTALLAS DE 650px---------------------*/

@media screen and (max-width: 650px) {
  .portada {
    text-align: center;
  }
  .logotipo {
    margin: 0;
  }
  .menu {
    position: static;
    display: block;
  }
  .menu li:first-child {
    margin: 0;
  }
  .menu ul{
    padding: 0;
  }
}
/*-----GUITARRAS----*/
/*.video-demo {
  margin: 0 10px;
}*/

/*--------------------MEDIA QUERY PARA PANTALLAS DE 500px---------------------*/

@media screen and (max-width: 500px) {
  /*------PORTADA------*/
  .portada .button {
    display: block;
  }
  .precios .header .logotipo {
    margin: 30px 0;
  }
  .burger-button {
    display: block;
  }
  .portada .contenedor {
    position: static;
  }
  .header {
    position: static;
    text-align: center;
  }
  .header .contenedor {
    position: static;
  }
  .menu {
    background: rgba(255, 60, 88, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: -100%;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: .3s;
  }
  .menu.active {
    left: 0;
  }
  .menu ul{
    flex: 1;
  }
  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #FFFFFF;
  }
  .menu li:before{
    display: none;
  }
  .menu li:first-child{
    border-top: 1px solid #FFFFFF;
  }
  .titulo{
    font-size: 30px;
    margin: 0;
  }
  .title-a {
    font-size: 15px;
  }
  /*------GUITARRAS------*/
  .guitarra img{
    width: 200px;
  }
  .title-b {
    font-size: 30px;
  }
  .video-demo-contenedor {
    margin: 0 10px;
  }
  /*-----FOOTER-----*/
  .col2 {
    align-items: stretch;
  }
}
/*---------------MEDIA QUERY PARA IMAGENES PARA PANTALLA RETINA---------------*/

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .background {
    background-image: url('Images/background2x.png');
  }
}
